{% include 'navbar.html' %}


<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<body>
    <div class="home-container">
        <div>
            <h1>Home Page</h1>
            {% if request.user.is_authenticated %}
            <p>Xin chào, {{ request.user.username }}!</p>
            <a href="{% url 'create-items' %}">Create item</a>
            <a href="{% url 'logout' %}">Đăng xuất</a>

            {% else %}
            <p>Bạn chưa đăng nhập.</p>
            <a href="{% url 'login' %}">Đăng nhập</a>
            {% endif %}
        </div>
        <div>
            <h2>Danh sách các mặt hàng:</h2>
            <ul>
                {% for item in items %}
                <li>
                    <!-- Tạo liên kết tới trang cập nhật của mỗi sản phẩm -->
                    <a href="{% url 'update-item' item.pk %}">{{ item.name }} </a> 
                    <br>
                    <a>- User {{ item.host }}</a>
                    <br>
                    <a>- Giá: {{ item.price }}</a>
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                    <li>{{ item.description }}</li>
                    <a href="{% url 'view-item' item.pk %}">view</a>
                </li>
                <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>