{% extends 'main.html' %}

{% block content %}
<div class="cart-container">
    <div class="cart-items">
        <h2>Your Cart</h2>
        <hr>
        {% for item in cart.items.all %}
        <div class="cart-item">
            <img src="{{ item.item.image.url }}" alt="{{ item.item.name }}" class="cart-item-image">
            <div class="cart-item-details">
                <p>Item: {{ item.item.name }}</p>
                <p>Price: {{ item.item.price }}</p>
                <p>Sale Price: {{ item.item.sale_price }}</p>
                <p>Total: {{ item.total_price|floatformat:2 }}</p>
                <div class="action-btn">
                    <form method="post" action="{% url 'cart_updateItem' pk=item.id %}">
                        {% csrf_token %}
                        <p>
                            Quantity:
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                max="{{ item.item.quantity_available }}">
                            <input type="hidden" name="cart_item_id" value="{{ item.id }}">
                        </p>
                        <div class="cart-item-button">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>

                    <div class="cart-item-button">
                        <div class="cart-item-delete">
                            <form method="post" action="{% url 'cart_deleteItem' %}">
                                {% csrf_token %}
                                <input type="hidden" name="cart_item_id" value="{{ item.id }}">
                                <button type="submit" class="btn btn-danger" style="margin-top: 2px;
                                margin-right: -5px;">Delete Item</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <div class="cart-total-checkout">
        <h3>Total Price: ${{ total_price|floatformat:2 }}</h3>
        <div class="cart-button-checkout">
            <div class="cart-item-return">
                <button type="button" onclick="redirectToShop()">Continue Shopping</button>
            </div>
            <div class="cart-item-checkout">

                <button type="button" onclick="redirectToCheckout()">Checkout</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:140px;">
    {% include 'shop/info_section.html'%}
</div>


<style>
    .cart-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
    }

    .cart-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .cart-item-image {
        max-height: 100px;
        max-width: 150px;
        margin-right: 20px;
    }

    .cart-item-details {
        text-align: right;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .cart-item-details p {
        margin: 5px 0;
    }

    button {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .cart-total-checkout {
        /* display: flex;
        justify-content: space-between; */
        align-items: center;
        margin-top: 20px;
    }

    .cart-total-checkout h3 {
        text-align: right;
    }

    .cart-button-checkout {
        display: flex;
        margin-left: 5px;
        float: right;
    }

    .cart-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cart-item-return {
        margin-bottom: 10px;
        margin-right: 10px
    }

    .cart-item-checkout button {
        margin-left: auto;
    }

    .cart-item-return button,
    .cart-item-checkout button {
        width: 200px;
        /* Thay đổi giá trị này để thay đổi độ rộng */
        height: 40px;
        /* Thay đổi giá trị này để thay đổi độ cao */
    }

    .cart-item-button {
        display: flex;
        justify-content: end;
    }

    .cart-item-delete {
        margin-right: 5px;
    }
</style>
<script>
    function redirectToShop() {
        window.location.href = "{% url 'shop' %}";
    }

    function redirectToCheckout() {
        window.location.href = "{% url 'checkoutpage' %}";
    }
</script>
{% endblock %}