{% extends 'main.html' %}

{% block content %}
<style>
    .login-section {
        background-color: #fff;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");

        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        /* Tự động đặt vị trí giữa màn hình */
        width: 400px;
        /* Chiều rộng form login */
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;    
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    a{
        color:#007bff;
    
    }
</style>
 


<div>
    <!-- Sử dụng một thẻ form và bảo vệ CSRF token -->

    <form method="POST" action="" style="margin-bottom: 100px;">
        <section class="login-section">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="input-group">
                <label>Tên đăng nhập:</label>
                <input type="text" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="input-group">
                <label>Mật khẩu:</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </div>
            <button type="submit">Đăng nhập</button>
            <p>Haven't signed up yet?</p>
            <a href="{% url 'register' %}">Sign up</a>

        </section>
    </form>

</div>

<div style="margin-top:100px;">
    {% include 'shop/info_section.html'%}
</div>


{% endblock content %}