{% extends 'main.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>
    Giftos
  </title>

  <!-- slider stylesheet -->

</head>

<body>
  <!-- end hero area -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      {% include 'shop/topics_component.html' %}
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {% for item in page_obj %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'view-item' item.pk %}">
              <div class="img-box">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
                {% else %}
                <p>No image available</p>
                {% endif %}
              </div>
              <div class="detail-box">
                <h6>
                  {{ item.name }}
                </h6>
                <h6>
                  Price
                  <span>
                    {{ item.price }}
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
            <a href="{% url 'update-item' item.pk %}">update</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination pagination-center">
      <span class="step-links" style="margin: 0 auto;">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </section>


  <!-- end shop section -->

  <!-- info section -->
  {% include 'shop/info_section.html'%}

  <!-- end info section -->



</body>

</html>
{% endblock content %}