{% extends 'main.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<script src="{% static 'js/view_item.js' %}"></script>

<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <div class="img-box">
                        <img class="card-img-top mb-5 mb-md-0" style="    width: 300px;
                        height: auto;" src="{{ item.image.url }}" alt="{{ item.name }}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">A product by Giftos</div>
                    <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$ {{ item.price}}</span>
                        <span>$ {{ item.sale_price }}</span>
                    </div>
                    <p class="lead">{{ item.description }}</p>
                    <div class="d-flex">
                        <p>
                            <button type="button" class="btn btn-default btn-sm" id="decrease">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <input type="number" id="quantity" value="1" min="1" step="1"
                                style="width: 50px; text-align: center;">
                            <button type="button" class="btn btn-default btn-sm" id="increase">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id="add-to-cart"
                                data-item-id="{{ item.id }}">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <b> Add to Cart </b>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-message" style="margin-top:20px;">
        <div class="message-section">
            <div class="message-form">
                <form method="POST" action="{% url 'item' item.pk %}">
                    {% csrf_token %}
                    <div class="send-mes">
                        <input type="text" name="body" placeholder="Type your message here">
                        <button type="submit" class="btn-submit">Send Message</button>
                    </div>

                </form>
            </div>

            <div class="mess-p">
                <h3>Messages:</h3>
                <ul>
                    {% for message in item_messages %}
                    <li>Name: {{ message.user }}</li>
                    <li>Message: {{ message.body }}</li>
                    {% if message.user == request.user %}
                    <form method="POST" action="{% url 'delete-message' message.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                    {% endif %}
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Related items section-->
    {% include 'shop/related_pro.html' %}
    <!-- Footer-->
    {% include 'shop/info_section.html'%}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#increase').click(function () {
            let quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });

        $('#decrease').click(function () {
            let quantity = parseInt($('#quantity').val());
            if (quantity > 1) {
                $('#quantity').val(quantity - 1);
            }
        });

        $('#add-to-cart').click(function () {
            let itemId = $(this).data('item-id');
            let quantity = $('#quantity').val();

            $.ajax({
                url: "{% url 'add_to_cart' 0 %}".replace('0', itemId),
                method: 'POST',
                data: {
                    'quantity': quantity,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    alert("Item added to cart successfully!");
                },
                error: function (response) {
                    alert("Failed to add item to cart.");
                }
            });
        });
    });
</script>

{% endblock content %}